.aboutsectionparagraph {
    margin: 1rem 5rem;
}
.hoursandrates {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    width: 14rem;
}

.directiondetails {
    text-align: center;
}